In [3]:
#!pip install openpyxl

In [1]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_excel(r"C:\Users\karan\Downloads\Data - 01.xlsx")
df2 = pd.read_excel(r"C:\Users\karan\Downloads\Data - 02.xlsx")
df3 = pd.read_excel(r"C:\Users\karan\Downloads\Data - 03.xlsx")
df4 = pd.read_excel(r"C:\Users\karan\Downloads\Data - 04.xlsx")
df5 = pd.read_excel(r"C:\Users\karan\Downloads\Data - 05.xlsx")

In [5]:
df_merge = pd.concat([df1,df2,df3,df4,df5])

In [6]:
df_merge.to_csv("data.csv")

In [7]:
df_merge

                                                   Text
0     Thank you for applying to the Junior Software ...
1     Thank you for your interest in the Train To Hi...
2     eth, \n\nThank you for your interest in Exyn a...
3     Thank you for your interest in the Software En...
4     Hi Seth,\n\nThank you for your interest in Pat...
...                                                 ...
1580  Blue skies and good self-care ahead... Manage ...
1581  If not, these fragrance will have you ready! M...
1582  Colourful makeup that will literally bloom on ...
1583  Get access to your customized training plan th...
1584  ðŸ”‘ Unlock all of our Coach features and take...

[13640 rows x 1 columns]

In [8]:
df_merge.shape

(13640, 1)

In [9]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13640 entries, 0 to 1584
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    13634 non-null  object
dtypes: object(1)
memory usage: 213.1+ KB

In [10]:
# missing values
df_merge.isnull().sum()

Text    6
dtype: int64

In [11]:
df_merge.dropna(inplace=True)

In [12]:
df_merge.isnull().sum()

Text    0
dtype: int64

In [13]:
# check for duplicate values
df_merge.duplicated().sum()

560

In [14]:
# remove duplicates
df_merge = df_merge.drop_duplicates(keep='first')

In [15]:
df_merge.duplicated().sum()

0

In [16]:
df_merge.shape

(13074, 1)

EDA

In [17]:
#!pip install nltk
#nltk.download('stopwords')

In [18]:
import nltk
from nltk.corpus import stopwords
stopwords.words('english')
import string 
string.punctuation
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [19]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\karan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [20]:
# # not using this function since porter stemmer is aggresively preprocessing our data, hence will use POS tagging along with Lemmatization
# import nltk
# from nltk.corpus import stopwords
# from nltk.stem import PorterStemmer
# import string

# nltk.download('stopwords')

# ps = PorterStemmer()

# def transform_text1(text):
#     if isinstance(text, str):
#         text = text
#         text = nltk.word_tokenize(text)

#         y = []
#         for i in text:
#             if i.isalnum():
#                 y.append(i)

#         text = y[:]
#         y.clear()

#         for i in text:
#             if i not in stopwords.words('english') and i not in string.punctuation:
#                 y.append(i)

#         text = y[:]
#         y.clear()

#         for i in text:
#             y.append(ps.stem(i))

#         return " ".join(y)
#     else:
#         return str(text)  # Convert non-string types to string

# # Apply the modified transform_text function using lambda to the 'Text' column
# df_merge['transformed_text'] = df_merge['Text'].apply(lambda x: transform_text1(x))

In [21]:
df_merge

                                                   Text
0     Thank you for applying to the Junior Software ...
1     Thank you for your interest in the Train To Hi...
2     eth, \n\nThank you for your interest in Exyn a...
3     Thank you for your interest in the Software En...
4     Hi Seth,\n\nThank you for your interest in Pat...
...                                                 ...
1580  Blue skies and good self-care ahead... Manage ...
1581  If not, these fragrance will have you ready! M...
1582  Colourful makeup that will literally bloom on ...
1583  Get access to your customized training plan th...
1584  ðŸ”‘ Unlock all of our Coach features and take...

[13074 rows x 1 columns]

In [22]:
replace_list = ["\\n","\\t","\\r","â","€","™","ð","Ÿ","ðŸ‘","$","â€™ll","ƒ","¢","â€ƒ","â€¢","Â§","§","Â","Ã¼","Ã","¼","º","œ","˜","£","â€“","â€œ","&lt;#&gt;","â€Œ","ðŸŽ","ð","Ÿ","Ž","Í","â€Œ ï»¿ Í","ï»¿","ðŸ”¨","ðŸ¤©","©","¤","±","ðŸ˜±","ðŸ˜±"," Í â€Œ ï»¿","ÿ" ]

In [23]:
for w in replace_list:
    df_merge['Text'] = df_merge['Text'].str.replace(w, '')
df_merge

C:\Users\karan\AppData\Local\Temp\ipykernel_7852\368490851.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_merge['Text'] = df_merge['Text'].str.replace(w, '')
C:\Users\karan\AppData\Local\Temp\ipykernel_7852\368490851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['Text'] = df_merge['Text'].str.replace(w, '')
C:\Users\karan\AppData\Local\Temp\ipykernel_7852\368490851.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_merge['Text'] = df_merge['Text'].str.replace(w, '')

                                                   Text
0     Thank you for applying to the Junior Software ...
1     Thank you for your interest in the Train To Hi...
2     eth, Thank you for your interest in Exyn and f...
3     Thank you for your interest in the Software En...
4     Hi Seth,Thank you for your interest in PathAI!...
...                                                 ...
1580  Blue skies and good self-care ahead... Manage ...
1581  If not, these fragrance will have you ready! M...
1582  Colourful makeup that will literally bloom on ...
1583  Get access to your customized training plan th...
1584  ”‘ Unlock all of our Coach features and take y...

[13074 rows x 1 columns]

In [24]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

nltk.download('stopwords')
nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

def transform_text2(text):
    if isinstance(text, str):
        text = text.lower()
        text = nltk.word_tokenize(text)

        y = []
        for i in text:
            if i.isalnum():
                y.append(i)

        text = y[:]
        y.clear()

        for i in text:
            if i not in stopwords.words('english') and i not in string.punctuation:
                y.append(lemmatizer.lemmatize(i))

        return " ".join(y)
    else:
        
        return str(text)  # Convert non-string types to string

# Apply the modified transform_text2 function using lambda to the 'Text' column
df_merge['transformed_text'] = df_merge['Text'].apply(lambda x: transform_text2(x))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\karan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\karan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
C:\Users\karan\AppData\Local\Temp\ipykernel_7852\1792012154.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['transformed_text'] = df_merge['Text'].apply(lambda x: transform_text2(x))

In [26]:
df_merge

,Text,transformed_text
0,Thank you for applying to the Junior Software ...,thank applying junior software developer posit...
1,Thank you for your interest in the Train To Hi...,thank interest train hire junior software deve...
2,"eth, Thank you for your interest in Exyn and f...",eth thank interest exyn applying apart team so...
3,Thank you for your interest in the Software En...,thank interest software engineer position lant...
4,"Hi Seth,Thank you for your interest in PathAI!...",hi seth thank interest pathai unfortunately hi...
...,...,...
1580,Blue skies and good self-care ahead... Manage ...,blue sky good ahead manage mailing preference
1581,"If not, these fragrance will have you ready! M...",fragrance ready manage mailing preference
1582,Colourful makeup that will literally bloom on ...,colourful makeup literally bloom face manage m...
1583,Get access to your customized training plan th...,get access customized training plan 39 motivat...
1584,”‘ Unlock all of our Coach features and take y...,unlock coach feature take training next level ...

In [27]:
##Manually checking if the cleaning worked
# df_merge = pd.read_excel(r"C:\Users\karan\Desktop\NLP_DATA\NLP_CaseStudy_Cleaned.xlsx")
# df_merge.drop(['Unnamed: 0'], axis = 1)

In [28]:
#POS TAGGING
#Lemmatization

In [25]:
#Lemmatization
from nltk.corpus import wordnet
def pos_tagger(nltk_tag):
    if nltk_tag.startswith("J"):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

In [ ]:
# Perform part-of-speech tagging and create a new column 'wordnet_tagged'
df_merge['wordnet_tagged'] = df['cleaned'].apply(lambda tokens: [(word, pos_tagger(tag)) for word, tag in nltk.pos_tag(tokens)])

# Initialize the lemmatizer
lemmatizer = WordNetLemmatizer()

# Function to lemmatize a token based on its POS tag
def lemmatize_word(word, pos_tag):
    if pos_tag is not None:
        return lemmatizer.lemmatize(word, pos=pos_tag)
    else:
        return lemmatizer.lemmatize(word)

# Apply the lemmatization function to the 'wordnet_tagged' column
df['lemmatized_text'] = df['wordnet_tagged'].apply(lambda tagged_tokens: [lemmatize_word(word, pos_tag) for word, pos_tag in tagged_tokens])

# Display the DataFrame
print(df)

In [33]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

lemmatizer = WordNetLemmatizer()

def lemmatize_and_pos_tag(text):
    if isinstance(text, str):
        text = nltk.word_tokenize(text)

        y = []
        for word, pos in nltk.pos_tag(text):
            if word.isalnum() and word not in stopwords.words('english') and word not in string.punctuation:
                pos = pos[0].lower()  # Get the first letter of the POS tag
                if pos in {'a', 'n', 'v'}:  # Consider only adjectives, nouns, and verbs for lemmatization
                    y.append(lemmatizer.lemmatize(word, pos))
                else:
                    y.append(word)

        return " ".join(y)
    else:
        return str(text)  # Convert non-string types to string

# Apply the lemmatize_and_pos_tag function using lambda to the 'Text' column
df_merge['lemmatized_text'] = df_merge['transformed_text'].apply(lambda x: lemmatize_and_pos_tag(x))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\karan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\karan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\karan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\karan\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
C:\Users\karan\AppData\Local\Temp\ipykernel_7852\983245522.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['lemmatized_text'] = df_merge['transformed_text'].apply(lambda x: lemmatize_and_pos_tag(x))

In [34]:
df_merge

,Text,transformed_text,lemmatized_text
0,Thank you for applying to the Junior Software ...,thank applying junior software developer posit...,thank apply junior software developer position...
1,Thank you for your interest in the Train To Hi...,thank interest train hire junior software deve...,thank interest train hire junior software deve...
2,"eth, Thank you for your interest in Exyn and f...",eth thank interest exyn applying apart team so...,eth thank interest exyn apply apart team softw...
3,Thank you for your interest in the Software En...,thank interest software engineer position lant...,thank interest software engineer position lant...
4,"Hi Seth,Thank you for your interest in PathAI!...",hi seth thank interest pathai unfortunately hi...,hi seth thank interest pathai unfortunately hi...
...,...,...,...
1580,Blue skies and good self-care ahead... Manage ...,blue sky good ahead manage mailing preference,blue sky good ahead manage mailing preference
1581,"If not, these fragrance will have you ready! M...",fragrance ready manage mailing preference,fragrance ready manage mail preference
1582,Colourful makeup that will literally bloom on ...,colourful makeup literally bloom face manage m...,colourful makeup literally bloom face manage m...
1583,Get access to your customized training plan th...,get access customized training plan 39 motivat...,get access customize training plan 39 motivate...
1584,”‘ Unlock all of our Coach features and take y...,unlock coach feature take training next level ...,unlock coach feature take training next level ...

In [31]:
df_merge.to_excel(r"C:\Users\karan\Desktop\NLP_DATA\NLP_CaseStudy_Cleaned1.xlsx")